{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<div class="row">    
    <div class="col-sm-offset-3 col-xs-12 col-sm-4 col-lg-4 ">
    <div class="panel panel-primary">
        <div class="panel-heading">Cambiar Contraseña</div>
        <div class="panel-body">
    <table class="table">
     <tr><th>Usuario:</th><td> {{ user.username }}</td></tr>
    <tr>
     <tr><th>Email:</th> <td>{{ user.email }}</td> </tr>
	</table>
	
	
	</div>
	</div>
	</div>
</div>
{% endblock %}
