
parameters:
    database_host: 72.55.165.119
    database_port: 2082
    database_name: apppedidos_symfony
    database_user: apppedidos_superadmin
    database_password: q0L6OIx;K(?W
    mailer_transport: gmail
    mailer_host: smtp.gmail.com
    mailer_user: ezgatrabajo@gmail.com
    mailer_password: nbngwsflrinzkxxq
    secret: ThisTokenIsNotSoSecretChangeIt