
parameters:
    database_host: 18.228.6.207
    database_port: 2082
    database_name: symfony_heladeria_roma
    database_user: heladeria_roma
    database_password: q1w2e3r4
    mailer_transport: gmail
    mailer_host: smtp.gmail.com
    mailer_user: ezgatrabajo@gmail.com
    mailer_password: nbngwsflrinzkxxq
    secret: ThisTokenIsNotSoSecretChangeIt