# To get started with security, check out the documentation:
# https://symfony.com/doc/current/security.html
security:
    encoders:
        FOS\UserBundle\Model\UserInterface: bcrypt

    providers:
        fos_userbundle:
            id: fos_user.user_provider.username_email
      

    firewalls:
        #default:
        #    access_denied_handler: AccessDeniedHandler
        main:
            pattern: ^/
            form_login:
                provider: fos_userbundle
                csrf_token_generator: security.csrf.token_manager
                default_target_path: admin
            logout:       true
            anonymous: ~
            json_login:
                check_path: /api/login
        

        
    
            
    access_control:
        - { path: ^/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/register, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }
        
        - { path: ^/admin/, role: ROLE_ADMIN }
        
        - { path: ^/categoria/, role: ROLE_CARGADATOS }
        - { path: ^/marcas/, role: ROLE_CARGADATOS }
        - { path: ^/cliente/, role: ROLE_CARGADATOS }
        - { path: ^/producto/, role: ROLE_CARGADATOS }
        - { path: ^/hojaruta/, role: ROLE_CARGADATOS }
        - { path: ^/hojarutadetalle/, role: ROLE_CARGADATOS }
        - { path: ^/pedido/, role: [ROLE_CARGADATOS, ROLE_DEPOSITO] }
        - { path: ^/pedidodetalle/, role: [ROLE_CARGADATOS, ROLE_DEPOSITO] }
        
        - { path: ^/empleado/, role: ROLE_EMPRESA }
        
        - { path: ^/empresa/, role: ROLE_EMPRESA }
        - { path: ^/user/, role: ROLE_ADMIN }
        #- { path: ^/api, roles: ROLE_API }
        
    role_hierarchy:
        ROLE_DEPOSITO:
        ROLE_CARGADATOS:
        ROLE_VENDEDOR:    [ROLE_DEPOSITO]
        ROLE_EMPRESA:     [ ROLE_VENDEDOR, ROLE_CARGADATOS, ROLE_DEPOSITO]
        ROLE_ADMIN:       [ROLE_EMPRESA]
        ROLE_SUPER_ADMIN: [ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]