{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
      
<div class="row">    
    <div class="col-xs-12 col-sm-9 col-lg-9">
    <div class="panel panel-default">
        
        <div class="panel-body">
         
         <div class="alert alert-success alert-dismissable">
         		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        		<p>Fue enviado el mail de confirmación a su casilla de correo. Para continuar con la registracion debe acceder a su cuenta.</p>
   		 </div>

        </div>
    </div>
    </div>
</div> 

       
   
    
    
{% endblock fos_user_content %}
