{% trans_default_domain 'FOSUserBundle' %}


    
<div class="row">    
    <div class="col-sm-offset-3 col-xs-12 col-sm-4 col-lg-4 ">
    <div class="panel panel-primary">
        <div class="panel-heading"> Iniciar Sesion </div>
        <div class="panel-body">
     {% if error is not empty %}
        <div class="alert alert-danger">
            <strong>Error!</strong> {{ error.messageKey|trans({}, 'messages') }}
        </div>
    {% endif %}
    
    <form action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}

      <div class="form-group">
        <label for="username">Email/Usuario:</label>
        	<div class="input-group">
  			<span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"
                   class="form-control"/>
             </div>      
      </div>
      <div class="form-group">
        <label for="password">Contraseña:</label>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" id="password" name="_password" required="required" class="form-control" />
        </div> 
      </div>
      <div class="form-group">
       
        
        <input type="submit" id="_submit" name="_submit" value="Ingresar" 
               class="btn btn-flat btn-info"/>
      </div>
        <a class="d-block small mt-3" href="/"> <i class="fa fa-arrow-left"></i> Volver</a>
    </form>

    </div>
	</div>
</div>
</div>
